@font-face {
	font-family: "Roboto";
	src: url("fonts/RobotoBold/RobotoBold.eot?") format("eot"),
		 url("fonts/RobotoBold/RobotoBold.woff2") format("woff2"),
		 url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
         url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
	font-family: "Roboto";
	src: url("fonts/RobotoMedium/RobotoMedium.eot?") format("eot"),
		 url("fonts/RobotoMedium/RobotoMedium.woff2") format("woff2"),
		 url("fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
         url("fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-weight: 400;
}