@import 'sprite.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    color: green;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

img {
    max-width: 50%;
}

h1 {
    font-weight: 600;
}
.test-icon {
    display: inline-block;
    @include sprite($earth);  
}