// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$earth-name: 'earth';
$earth-x: 32px;
$earth-y: 0px;
$earth-offset-x: -32px;
$earth-offset-y: 0px;
$earth-width: 24px;
$earth-height: 24px;
$earth-total-width: 56px;
$earth-total-height: 32px;
$earth-image: 'sprite.png';
$earth: (32px, 0px, -32px, 0px, 24px, 24px, 56px, 32px, 'sprite.png', 'earth', );
$play-button-name: 'play-button';
$play-button-x: 0px;
$play-button-y: 0px;
$play-button-offset-x: 0px;
$play-button-offset-y: 0px;
$play-button-width: 32px;
$play-button-height: 32px;
$play-button-total-width: 56px;
$play-button-total-height: 32px;
$play-button-image: 'sprite.png';
$play-button: (0px, 0px, 0px, 0px, 32px, 32px, 56px, 32px, 'sprite.png', 'play-button', );
$spritesheet-width: 56px;
$spritesheet-height: 32px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($earth, $play-button, );
$spritesheet: (56px, 32px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../img/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
